@model InteractiveLearning.Models.ViewTest
@{
    ViewBag.Title = "Give Test";
}
<style>
.df
{
    margin-bottom:30px;
    margin-top:0px;
}
.font
{
   color:Blue;
   text-decoration: none;
}
  
</style>
 @Html.Partial("Shared_Test")
<ul data-role="listview" data-inset="true" data-theme="c" data-filter="true"  >
   @foreach (var item in Model.test)
   {
	 <li>@Html.ActionLink(item.Title, "TakeTest", new { id = item.TestID })</li>
   }
</ul>